@import url('https://fonts.googleapis.com/css2?family=Iceberg&display=swap');

* {
    font-family: 'Iceberg', cursive;
    padding: 0;
    margin: 0;
}

body {
    background-color: #FFFFF0;
}

.heading {
    text-align: center;
    font-size: 40px;
}

.logo {
    size: 1rem;
}

.instructions {
    text-align: center;
    font-size: 20px;
    word-wrap: normal;
}

.instructions2 {
    color: #BB2222;
}

#gamegridArea {
    width: 650px;
    height: 650px;
    margin: 0 auto;
    display:flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

.square{
    border:1px solid black; 
    resize: none;
    width:30%;
    height:35%;
    display:flex;
    justify-content: center;
    align-items: center;
 }
 
 .square p{
     font-size: 80px;
     font-weight: bold;
     text-align: center;
 }

.minimize {
    display: none;
}

.scores {
    color: #BB2222;
    font-size: 25px;
}

.score-area {
    margin-left: 250px;
}

#gameOver {
    display: none;
    font-size: 55px;
    margin-left: 250px;
}
#break {
    margin-top: 60px;
}


#restart {
    padding: 10px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    background-color: burlywood;
    color: crimson;
    
}

.restart__link {
    color: #64968c;
    text-decoration: none;
}

.restart__link:hover {
    text-decoration: underline;
}

/* --------- Media queries */

@media (max-width: 414px) {
    #gamegridArea {
        width: 100%;
    }

    #restart {
        margin: 0 10px;
        padding: 5px;
        border: 5px solid;
        width: 50px;
        height: 50px;
        font-size: 1rem;
    }

    #restart::after {
        font-size: 0.6rem;
        left: -0.7rem;
    }

    .instructions {
            font-size: 1.5rem;
    }

    .score-area {
        width: 100%;
        margin-left: 300px;
    }

    .scores {
        margin: 0.5em auto;
        display: block;
        padding: 5px;
    }
    
    .heading {
        font-size: 2rem;
    }
    #break {
        margin-top: 60px;
    }
    #gameOver {
        display: none;
        font-size: 2rem;
        margin-left: 2rem;
    }
}

@media (max-width: 320px) {
    #gamegridArea {
        height: 70vh;
        width: 75%;
        margin: 10px auto;
    }

    #restart {
        margin: 10px 10px;
    } 
    #break {
        margin-top: 60px;
    }
    #gameOver {
        display: none;
        font-size: 2rem;
        margin-left: 2rem;
    }
    .score-area {
        margin-left: 130px;
    }
}